.title {
	color: red;
	text-align: center;
	background-image: url(header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-bottom: 30px;
}
.form{
	display: flex;

	margin: 0px auto;
	text-align: center;
	justify-content: center;
	align-content: space-around;
}