body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body {
	background-image: url(0_HICLyAdNSIyT0ODU.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.Header {
	font-size: 300%;
	color: white;
	text-align: center;
	border: 5px solid black;
	background-color: black;
	align-content: center;
}

.btn {
	padding: 20px 40px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: flex-end;
	margin-top: 550px;
}	